.bar {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: -webkit-wrap;
  justify-content: space-between;
  justify-content: -webkit-space-around;
  position: relative;
  top: -40px;
  margin-left: 10px;
  margin-right: 10px;
}

.single-bar {
  flex-direction: row;
  margin-bottom: 10px;
  height: 400px;
  width: calc(50% - 5px);
}

.first-single-bar {
  background: linear-gradient(-45deg, #40a9ff, #1890ff);
}

.second-single-bar {
  background: linear-gradient(-45deg, #9254de, #722ed1);
}

.third-single-bar {
  background: linear-gradient(-45deg, #f759ab, #eb2f96);
}

.fourth-single-bar {
  background: linear-gradient(-45deg, #7e1fc4, rgb(37, 188, 223) 100%);
}

@media screen and (min-width: 0px) and (max-width: 650px) {
  .bar {
    margin: 0;
  }
  .single-bar {
    width: 100%;
  }
}
