.full-index {
  width: 100%;
  height: auto;
  color: #838383;
}

.full-index-title {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #a26aec;
}

.full-index-content {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: -webkit-wrap;
  justify-content: space-around;
  justify-content: -webkit-space-around;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 30px;
  width: 80%;
}

.single-content-title {
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
  font-size: 17px;
  color: #ac6dfd;
}

.single-content {
  flex-direction: row;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 20px;
  width: auto;
}

.single-content a {
  font-size: 14px;
  line-height: 28px;
  color: #838383;
}

.single-content a:hover {
  color: #ac6dfd;
}

.single-content a div {
  width: 100%;
  border-bottom: 0.5px solid #ebebeb;
}

.single-content a:nth-of-type(1) {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #757575;
  text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 1120px) {
  .single-content a {
    line-height: 55px;
  }
  .single-content {
    margin-bottom: 50px;
  }
}
