.full-index {
  width: 100%;
  height: auto;
  color: #838383;
}

.full-index-title {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.full-index-content {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: -webkit-wrap;
  justify-content: space-around;
  justify-content: -webkit-space-around;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 30px;
  width: 80%;
}

.single-content-title {
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
  font-size: 17px;
  /* color: rgb(220,118,252); */
}

.single-content {
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  width: 170px;
}

.single-content a {
  font-size: 14px;
  line-height: 25px;
  color: #838383;
}

.single-content a div{
  width: 100%;
  border-bottom: 0.5px solid #ebebeb;
}

.single-content a:nth-of-type(1) {
  font-size: 15px;
  line-height: 25px;
  color: #838383;
  text-align: center;
}

@media screen and (min-width:0px) and (max-width:1120px){
  .single-content a {
    line-height: 45px;
  }
}