/* Header */

#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  position: relative;
  height: 13em;
  background: #212735;
  background-size: cover;
  padding: 0;
}

#header:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homepage #header {
  height: 5em;
}

/* @media screen and (max-width: 736px) {
  header br {
    display: none;
  }

  header.style1 h2 {
    font-size: 1.5em;
    letter-spacing: 0.075em;
    line-height: 1.25em;
  }

  header.style1 p {
    font-size: 1em;
    letter-spacing: 0;
    display: block;
  }

  #header {
    height: 17em;
  }

  .homepage #header {
    height: 5em;
  }
} */
