.home-ins {
  position: relative;
  top: -50px;
  z-index: -1;
}

.home-ins-home {
  background: linear-gradient(-45deg, #7e1fc4, rgb(37, 188, 223) 100%);
  height: 750px;
}

.home-ins-other {
  background-color: black;
}

.ins-content {
  margin: auto;
  padding-top: 160px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 200px;
  width: 100%;
}

.ins-title {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 35px;
}

.ins-ins {
  margin: auto;
  margin-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

@media screen and (min-width: 0px) and (max-width: 650px) {
  .home-ins-home {
    height: 750px;
  }
}
