.news {
  padding: 0px 10px;
  background-color: #ffec3d;
  width: 100%;
  font-size: xx-small;
  font-family: Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.navigation {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 20000;
}
