.inner-header-icon {
  position: absolute;
  top: 0px;
  right: 5px;
  display: none;
  height: 40px;
  font-size: 25px;
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.inner-header-icon span {
  position: absolute;
  left: calc((100% - 25px) / 2);
  top: calc((100% - 1px) / 2);
  width: 25px;
  height: 1px;
  background-color: rgb(235, 235, 235);
}

.inner-header-icon-unhome span {
  background-color: rgba(24, 24, 24, 0.548);
}

.inner-header-icon span:nth-child(1) {
  transform: translateY(4px) rotate(0deg);
}

.inner-header-icon span:nth-child(2) {
  transform: translateY(-4px) rotate(0deg);
}

.inner-header-icon-click span:nth-child(1) {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: clickfirst;
}

.inner-header-icon-click span:nth-child(2) {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: clickthird;
}

/*第一条线旋转动画*/
@keyframes clickfirst {
  0% {
    transform: translateY(4px) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(45deg);
  }
}

/*第三条线旋转动画*/
@keyframes clickthird {
  0% {
    transform: translateY(-4px) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

.inner-header-icon-out span:nth-child(1) {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: outfirst;
}

.inner-header-icon-out span:nth-child(2) {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: outthird;
}

@keyframes outfirst {
  0% {
    transform: translateY(0) rotate(-45deg);
  }

  100% {
    transform: translateY(-4px) rotate(0deg);
  }
}

@keyframes outthird {
  0% {
    transform: translateY(0) rotate(45deg);
  }

  100% {
    transform: translateY(4px) rotate(0deg);
  }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .inner-header-icon {
    display: inline;
  }
}
