#nav {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
}

#nav > ul {
  display: inline-block;
  border-radius: 0.35em;
  padding: 0 1.5em 0 1.5em;
}

#nav > ul > li {
  display: inline-block;
  text-align: center;
  padding: 0 1.5em 0 1.5em;
}

#nav > ul > li > ul {
  display: none;
}

#nav > ul > li > a,
#nav > ul > li > span {
  display: block;
  color: #eee;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.7em;
  letter-spacing: 0.25em;
  height: 5em;
  line-height: 5em;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  outline: 0;
}

#nav > ul > li:hover > a {
  color: #fff;
}

#nav > ul > li.active > a,
#nav > ul > li.active > span {
  color: #fff;
}

@media screen and (max-width: 980px) {
  /* Nav */

  #nav {
    display: none;
  }

  #navPanel {
    /* -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden; */
    -moz-transform: translateX(-275px);
    -webkit-transform: translateX(-275px);
    -ms-transform: translateX(-275px);
    transform: translateX(-275px);
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 275px;
    z-index: 10002;
    /* background: #242730; */
    background: #212735;
    box-shadow: inset -3px 0px 4px 0px rgba(0, 0, 0, 0.1);
  }

  #navPanel .link {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.85em;
    letter-spacing: 0.15em;
    text-decoration: none;
    height: 44px;
    line-height: 44px;
    border-top: solid 1px rgba(255, 255, 255, 0.05);
    margin: 0 15px 0 15px;
  }

  #navPanel .link:first-child {
    border-top: 0;
  }

  #navPanel .indent-1 {
    display: inline-block;
    width: 1em;
  }

  #navPanel .indent-2 {
    display: inline-block;
    width: 2em;
  }

  #navPanel .indent-3 {
    display: inline-block;
    width: 3em;
  }

  #navPanel .indent-4 {
    display: inline-block;
    width: 4em;
  }

  #navPanel .indent-5 {
    display: inline-block;
    width: 5em;
  }

  #navPanel .depth-0 {
    color: #fff;
  }
}
