/* 顶端的warmmings */
.news {
  padding: 0 20px;
  background-image: linear-gradient(
    to right,
    rgb(222, 120, 252, 1),
    rgb(126, 69, 255, 1)
  );
  color: #ffffff;
  width: 100%;
  font-size: x-small;
  height: auto;
}

.news-text {
  width: 70%;
  margin: auto;
}

/* navigation */
.navigation {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 20000;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.navigation-unhome {
  color: #262626;
  box-shadow: 0 3px 8px 0px #f3f3f3;
  background-color: white;
}

.navigation-content {
  margin: auto;
  height: 64px;
  width: 70%;
}

/* 头像 */
.profile {
  float: left;
}

.profile-pic {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 44px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background: url("../img/astro.svg") no-repeat center center;
}

/* 名字 */
.logo {
  margin-top: 10px;
  height: 40px;
  line-height: 20px;
  color: #ffffff;
  font-size: 20px;
  float: left;
}

.logo1 {
  margin-right: 5px;
  color: inherit;
}

.navigation-choice {
  width: 450px;
  height: 64px;
  line-height: 64px;
  font-size: 13px;
  float: right;
}

.choice {
  margin-left: 25px;
  float: left;
}

.choice:hover {
  height: 60px;
  line-height: 60px;
  border-top: 2px solid #ffffff;
  padding-top: -2px;
}

.unhome-choice {
  margin-left: 25px;
  float: left;
  color: #262626;
}

.unhome-choice:hover {
  height: 60px;
  line-height: 60px;
  border-top: 2px solid #40a9ff;
  padding-top: -2px;
  color: #40a9ff;
}

.choice-focused {
  height: 60px;
  line-height: 60px;
  border-top: 2px solid #ffffff;
  padding-top: -2px;
}

.unhome-focused {
  padding-top: -2px;
  height: 60px;
  line-height: 60px;
  border-top: 2px solid #40a9ff;
  color: #40a9ff;
}

/* GitHub */
.github {
  margin-left: 25px;
  margin-top: 17px;
  margin-bottom: 17px;
  padding: 0 10px;
  float: left;
  height: 30px;
}

.mobile-nav-control {
  display: none;
}

.github-white {
  background: url("../img/github-white.svg") no-repeat center center;
}

.github-black {
  background: url("../img/github-black.svg") no-repeat center center;
}

@media screen and (min-width: 0px) and (max-width: 1450px) {
  .news-text {
    width: 90%;
  }

  .navigation-content {
    width: 90%;
  }
}

@media screen and (min-width: 0px) and (max-width: 680px) {
  .navigation-choice {
    display: none;
  }
  .mobile-nav-control {
    display: inline;
    margin-top: 17px;
    margin-bottom: 17px;
    width: 30px;
    height: 30px;
    float: right;
    background: url("../img/more-white.svg") no-repeat center center;
  }
}

@media screen and (min-width: 0px) and (max-width: 570px) {
  /* .news {
    padding: 0 5px;
  } */

  .news-text {
    width: 95%;
  }
}
