/* 顶端的warmmings */
.news {
  width: 100%;
}

.news-purple {
  background-image: linear-gradient(
    to right,
    rgb(222, 120, 252, 1),
    rgb(126, 69, 255, 1)
  );
}

.news-golden {
  background-image: linear-gradient(
    to right,
    rgb(243, 229, 200),
    rgb(139, 118, 81),
    rgb(80, 64, 38),
    rgb(80, 64, 38),
    rgb(160, 136, 95),
    rgb(243, 229, 200)
  );
}

.news-text {
  margin: auto;
  line-height: 20px;
  text-align: center;
  font-size: x-small;
}

/* navigation */
.navigation {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 50px;
  z-index: 5;
}

.navigation-grey {
  background-color: rgba(61, 61, 61, 0.315);
}

.navigation-shadow {
  box-shadow: 0 2px 8px rgba(189, 189, 189, 0.2);
}

.navigation-content-unhome {
  color: #262626;
}

.navigation-content {
  position: absolute;
  left: 15%;
  width: 70%;
  z-index: 20;
}

/* logo */
.logo {
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  font-family: dacing-script;
  float: left;
}

.logo-center {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  text-align: center;
}

.study-logo {
  position: absolute;
  left: 40px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: #474747;
  z-index: 40;
}

.navigation-choice {
  margin-right: 20px;
  float: right;
}

.navigation-choice-unhome a {
  color: #262626;
}

.choice {
  margin-left: 25px;
  float: left;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
}

.choice:hover {
  line-height: 46px;
  border-bottom: 2px;
}

.choice-home:hover {
  border-top: 2px solid #ffffff;
}

.choice-study:hover {
  border-top: 2px solid #40a9ff;
  color: #40a9ff;
}

.choice-focused {
  line-height: 46px;
  border-bottom: 2px;
}

.choice-focused-home {
  border-top: 2px solid #ffffff;
}

.choice-focused-study {
  border-top: 2px solid #40a9ff;
  color: #40a9ff;
}

/* GitHub */
.github {
  margin-left: 25px;
  margin-top: 10px;
  padding: 0 10px;
  height: 30px;
  float: left;
}

.github-white {
  background: url("../img/github-white.svg") no-repeat center center;
}

.github-black {
  background: url("../img/github-black.svg") no-repeat center center;
}

.dropdown {
  position: absolute;
  height: 50px;
  width: 100%;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index: 10;
}

.dropdown-menu {
  position: relative;
  top: 40px;
  margin: auto;
  margin-top: 15px;
  width: 80%;
  height: 340px;
  display: none;
}

.dropdown-menu-black a {
  color: #262626;
}

.dropdown-line {
  position: relative;
  top: 39px;
  width: 100%;
  display: none;
}

.dropdown-line-white {
  border-top: 0.9px solid rgba(226, 226, 226, 0.76);
}

.dropdown-line-black {
  border-top: 0.9px solid rgb(255, 255, 255);
}

.dropdown-line-show {
  position: absolute;
  top: 49px;
  width: 100%;
  border-top: 0.9px solid rgba(107, 107, 107, 0.479);
  z-index: 50;
}

.dropdown-menu hr {
  margin-top: 11px;
  margin-bottom: 11px;
  border: none;
  height: 1px;
}

.dropdown-menu-white hr {
  background-color: rgba(223, 223, 223, 0.548);
}

.dropdown-menu-black hr {
  background-color: rgb(255, 255, 255);
}

.dropdown-menu a p {
  font-weight: 410;
  font-size: 18px;
  margin: 0;
}

@media screen and (min-width: 0px) and (max-width: 1450px) {
  .navigation-content {
    left: 5%;
    width: 90%;
  }
}

@media screen and (min-width: 0px) and (max-width: 1120px) {
  .dropdown {
    height: 40px;
  }
  .navigation {
    height: 40px;
  }
  .navigation-choice {
    display: none;
  }
  .dropdown-control {
    display: inline;
  }
  .logo {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
  }
  .study-logo p {
    display: none;
  }
  .dropdown-line-show {
    top: 39px;
  }
}
