/* 顶端的warmmings */
.news {
  width: 100%;
  height: auto;
  background-image: linear-gradient(
    to right,
    rgb(222, 120, 252, 1),
    rgb(126, 69, 255, 1)
  );
}

.news-text {
  margin: auto;
  text-align: center;
  font-size: x-small;
}

/* navigation */
.navigation {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 50px;
  z-index: 5;
}

.dropdown {
  position: absolute;
  height: 50px;
  width: 100%;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index: 10;
}

.navigation-content {
  position: absolute;
  left: 15%;
  width: 70%;
  z-index: 20;
}

/* logo */
.logo {
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  font-family: dacing-script;
  float: left;
}

.navigation-choice {
  margin-right: 20px;
  float: right;
}

.choice {
  margin-left: 25px;
  float: left;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
}

.choice:hover {
  line-height: 46px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px;
}

.choice-focused {
  line-height: 46px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px;
}

.unhome-choice {
  color: #262626;
}

.unhome-choice:hover {
  border-top: 2px solid #40a9ff;
  color: #40a9ff;
}

.unhome-focused {
  border-top: 2px solid #40a9ff;
  color: #40a9ff;
}

/* GitHub */
.github {
  margin-left: 25px;
  margin-top: 10px;
  padding: 0 10px;
  height: 30px;
  float: left;
}

.github-white {
  background: url("../img/github-white.svg") no-repeat center center;
}

.github-black {
  background: url("../img/github-black.svg") no-repeat center center;
}

.dropdown-control{
  display: none;
  float: right;
}

@media screen and (min-width: 0px) and (max-width: 1450px) {
  .navigation-content {
    left: 5%;
    width: 90%;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .navigation-choice {
    display: none;
  }
  .dropdown-control{
    display: inline;
  }
  .logo{
    position: absolute;
    width: 100%;
    text-align: center;
  }
}
