.projects {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

.project-nav {
  padding-top: 70px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  flex-wrap: -webkit-nowrap;
  justify-content: center;
  justify-content: -webkit-center;
}

.project-label {
  flex-direction: row;
  width: 150px;
  text-align: center;
  font-family: monospace;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.project-label-underline{
  border-bottom: 1px solid rgb(173, 151, 111);
}

.project-year {
  font-family: monospace;
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin-top: 40px;
  color: rgb(243, 229, 200);
}

.single-project {
  margin-top: 60px;
  margin-bottom: 50px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  flex-wrap: -webkit-nowrap;
  justify-content: center;
  justify-content: -webkit-center;
}

.single-project-time {
  flex-direction: row;
  margin: auto;
  margin-right: 35px;
  margin-left: 0;
  font-size: 11px;
}

.single-project-content {
  flex-direction: row;
  padding-right: 10px;
  padding-left: 10px;
  width: 600px;
  display: flex;
  align-items: center;
}

.single-project-content-title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
}

.single-project-content-text {
  font-size: 14px;
}

.timeline {
  flex-direction: row;
  margin: auto;
  margin-left: 10px;
  margin-right: 12px;
  float: left;
}

.ball {
  position: relative;
  width: 9px;
  height: 9px;
  border-radius: 50px;
}
.top-ball {
  bottom: -1px;
  background-color: rgb(80, 64, 38);
}

.bottom-ball {
  top: -1px;
  background-color: rgb(243, 229, 200);
}

.timeline-line {
  margin-left: 3px;
  width: 3px;
  background-image: linear-gradient(
    to bottom,
    rgb(80, 64, 38),
    rgb(160, 136, 95),
    rgb(243, 229, 200)
  );
}

@media screen and (min-width: 0px) and (max-width: 840px) {
  .single-project-time {
    display: none;
  }
}
