.right-content {
  padding-left: 16%;
  z-index: -1;
}

.content-content {
  padding-left: 8%;
  padding-right: 25%;
  margin-bottom: 300px;
}

.right-content h1 {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-size: xx-large;
  color: #40a9ff;
}

.right-content h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: x-large;
  color: #40a9ff;
}

.right-content h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #40a9ff;
}

.right-content p {
  margin: 0px;
  color: #242424;
  font-size: 14px;
  line-height: 28px;
  /* 超级好用的自动换行属性 */
  /* white-space: pre-line; */
}

.right-content table{
  color: #242424;
  font-size: small;
}

.right-content pre{
  /* 子元素code加了position:relative后层级错乱，需要父元素也添加position:relative并添加z-index。 */
  position: relative;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #f3f3f3;
  color: #474747;
  font-family: monospace;
  font-size: small;
  line-height: 20px;
  z-index: -1;
}

.right-content code{
  position: relative;
  left: -50px;
}
