.sidebar {
  position: fixed;
  border-right: 1px solid #f3f3f3;
  height: 85%;
  width: 16%;
  overflow: auto;
  font-size: 14px;
}

.know-name {
  padding-left: 25px;
  height: 45px;
  line-height: 40px;
  font-weight: bold;
  color: #474747;
}

.know-name:hover {
  color: #40a9ff;
}

.know-name-focus {
  color: #40a9ff;
}

.chapter {
  padding-left: 40px;
  height: 45px;
  line-height: 45px;
  background: rgb(250, 250, 250);
  color: #474747;
}

.chapter:hover {
  color: #40a9ff;
  background-color: rgb(230, 247, 255, 1);
}

.chapter-choosen {
  color: #40a9ff;
  background-color: rgb(230, 247, 255, 1);
  border-right: 3px solid #40a9ff;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
