.sidebar {
  position: absolute;
  height: 80%;
  width: 280px;
  overflow: auto;
  font-size: 14px;
}

.sidebar a div {
  padding-left: 40px;
  height: 45px;
  line-height: 45px;
  color: #474747;
}

.sidebar a div:hover {
  color: #40a9ff;
  background-color: rgb(230, 247, 255, 1);
}

.note-title {
  font-weight: bold;
}

.note-choosen {
  border-right: 3px solid #40a9ff;
  background-color: rgb(230, 247, 255, 1);
}

.sidebar-icon{
  margin-top: 7.5px;
  padding: 0 14px;
  height: 25px;
  float: left;
  background: url("../img/mulu.svg") no-repeat center center;
  display: none;
}

.sidebar-icon:hover{
  transform: rotate(20deg);
}

@media screen and (min-width: 0px) and (max-width: 1120px) {
  .sidebar {
    display: none;
  }
  .sidebar-icon{
    display: inline;
  }
}
