.whole {
  padding-right: 10px;
  padding-left: 10px;
  height: 200px;
  width: 100%;
  background-color: #ffffff;
}

.home-ins {
  position: relative;
  bottom: 64px;
  height: 700px;
  background: linear-gradient(-45deg, rgba(130,29,200,1) 0%, rgb(33, 175, 208,1) 100%);
  /* background-image: linear-gradient(to right bottom, #21afd0, rgba(147,26,222,0.83)); */
}
